.Myntra{
    display: flex;
    border: 4px solid red;
    justify-content:space-between;
    align-items: center;
}
.menu img{
    height: 75px;
}
.menu ul li img{
        height: 30px;
}
.menu ul {
    align-items: center;
    margin-left: 500px;
    display: flex;
    width: 50px;
    justify-content: space-between;
}
